<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="customs.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB"
    
    crossorigin="anonymous">
        
    <title>TBL | Borrow</title>


</head>
<body class="mt-5"> ==$0

    <div class="container align-text-bottom">
        <div class="media">
            <div class="row">
                <div class="col col-xs-12 col-md-4">
                    <div class="card">
                        <img class="card-img" src="book.png" alt="bookcover" class="img-responsive" />
                    </div>
                </div>
                <div class="col col-xs-10 col-md-8">
                    <div class="card-transparent">
                        <div class="card-body">
                            <p><u><h3 class="text-warning text-responsive">The Astronaut</h3></u></p>
                            <p class="text-white text-justify">The book is about a young man who goes Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur numquam odio non perspiciatis ab repudiandae in. Magni culpa fugit animi incidunt, consequatur soluta facilis eligendi, eius, pariatur ad consectetur velit.
                            Minus deleniti maiores delectus voluptates consequuntur animi quas dolor officia laborum quisquam aliquam veritatis quae eos harum eveniet sunt eius officiis voluptatibus vero fugiat, sed temporibus dolorum sapiente distinctio! Beatae?

                            Dict
                            <br>
                            <br>
                            <div>
                            <span class="font-weight-bold text-warning">Author:</span>
                            <i class="text-white">Ntabaazi Vincent</i>
                            </div>
                            <br>
                            <div>
                            <span class="font-weight-bold text-warning">Genre:</span>
                            <i class="text-white">Sci-fi</i>
                            </div>
                            <br>