{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href='{% static "css/style.css" %}'>
    <link rel="stylesheet" href='{% static "css/menu.css" %}'>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lobster&family=Titillium+Web:wght@600&display=swap" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Library Management System</title>
</head>
<body>
    <div class="menu-wrap">
        <input type="checkbox" class="toggler">
        <div class="hamburger"><div></div></div>
        <div class="menu">
            <div>
                <div>
                    <ul>
                        <li><a class = "text_secondary" href="home">Home</a></li>
                        <li><a href="users/login">login</a></li>
                        <li><a href="users/register">Register</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
   <header id="showcase">
       <div class="showcase-container container">
           <h1 class = "text_secondary" >The</h1>
           <h1> Book</h1>
           <h1>Library</h1>
           <p>All your favorites in one place.</p>
           <a href="users/login"class="btn">Login</a>
       </div>
   </header>
</body>
</html>