{% extends 'books/main.html' %}
<br>
<br>
{% block content %}
    {% if searched %}
        <h1>You searched for "{{ searched }}"</h1><br>
        {% for b in books %}
            <div class="card mb-3">
                <div class="row g-0">
                  <div class="col col-xs-10 col-md-8 col-lg-4">
                    <img src="{{b.image.url}}">
                  </div>
                  <div class="col col-xs-10 col-md-8">
                    <div class="card-body">
                      <h2 class="text-warning"><u>{{ b }}</u> <br></h2>
                      <p class="text-responsive">{{ b.description }}</p> <br>
                      <p class="card-text"><small class="text-muted">Status: {{ b.status }}</small></p>
                      <button class="btn mb-3 btn-outline-warning float-right btn-sm border rounded" data-toggle="modal" data-target="#exampleModalCenter">
                        BORROW
                      </button>
                    </div>
                  </div>
                  <div class="dropdown-divider"></div>
                </div>
              </div>
        {% endfor %}
    {% else %}
        <h1>Unfortunately the book you have searched for is unavailable!</h1>
    {% endif %}

{% endblock content %}
