{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href='{% static "css/customs.css"%}'>
    <style>
        body{background-image: url('{% static "img/lib4.JPG" %}') ; 
    background-size: 500px 500px;
}
    </style>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB"
    
    crossorigin="anonymous">
        
    <title>TBL | Borrow</title>
    <style>
    /* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}
</style>



</head>
<body class="mt-5"> 

    <div class="container align-text-bottom">
        <div class="media">
            <div class="row">
                <div class="col col-xs-12 col-md-4">
                    <div class="card">
                        <img class="card-img" src='{% static "img/book.png" %}' alt="bookcover" class="img-responsive" />
                    </div>
                </div>
                <div class="col col-xs-10 col-md-8">
                    <div class="card-transparent">
                        <div class="card-body">
                            <p><u><h3 class="text-warning text-responsive">The Astronaut</h3></u></p>
                            <p class="text-white text-justify">The book is about a young man who goes Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur numquam odio non perspiciatis ab repudiandae in. Magni culpa fugit animi incidunt, consequatur soluta facilis eligendi, eius, pariatur ad consectetur velit.
                            Minus deleniti maiores delectus voluptates consequuntur animi quas dolor officia laborum quisquam aliquam veritatis quae eos harum eveniet sunt eius officiis voluptatibus vero fugiat, sed temporibus dolorum sapiente distinctio! Beatae?

                            Dict
                            <br>
                            <br>
                            <div>
                            <span class="font-weight-bold text-warning">Author:</span>
                            <i class="text-white">Ntabaazi Vincent</i>
                            </div>
                            <br>
                            <div>
                            <span class="font-weight-bold text-warning">Genre:</span>
                            <i class="text-white">Sci-fi</i>
                            </div>
                            <br>
                            <p><u><h5 class="text-warning">Related books</h5></u></p>
                                <ol class="text-white text-monospace">
                                    <li>Vincent in wonderworld</li>
                                    <li>Wasukira in the shady forest</li>
                                    <li>Owen cruises through the lonely streets of campus</li>
                                    <li>Nsenji the cave man</li>
                                </ol>
                            <br>
                            <!-- <button class="btn mb-3 btn-outline-warning float-right btn-lg border rounded">BORROW</button> -->
                            <button id="myBtn" class="btn mb-3 btn-outline-warning float-right btn-lg border rounded">BORROW</button>
                            <div id="myModal" class="modal">

                                <!-- Modal content -->
                                <div class="modal-content">
                                  <span class="close ml-auto">&times;</span>
                                  <p>You have successfully borrowed...</p>
                                </div>
                              
                              </div>
                              
                              <script>
                              // Get the modal
                              var modal = document.getElementById("myModal");
                              
                              // Get the button that opens the modal
                              var btn = document.getElementById("myBtn");
                              
                              // Get the <span> element that closes the modal
                              var span = document.getElementsByClassName("close")[0];
                              
                              // When the user clicks the button, open the modal 
                              btn.onclick = function() {
                                modal.style.display = "block";
                              }
                              
                              // When the user clicks on <span> (x), close the modal
                              span.onclick = function() {
                                modal.style.display = "none";
                              }
                              
                              // When the user clicks anywhere outside of the modal, close it
                              window.onclick = function(event) {
                                if (event.target == modal) {
                                  modal.style.display = "none";
                                }
                              }
                              </script>
                              
                              </body>
                              </html>
                              
                        </div>
                    </div>
                </div>
            </div>

        </div>
        
    </div>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
    crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T"
    crossorigin="anonymous"></script> 

</body>
</html>